.country-info{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
}

.back-button{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.country-details{
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}

.country-details img{
    width: 40%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.text-container{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 64px;
    max-height: 200px;
    flex-wrap: wrap;
}
.text-container p{
    margin: 0;
}

.border-countries{
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}
.border-countries a{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4px 16px;
    border-radius: 4px;
    font-size: 14px;
}

@media(max-width: 800px){
    .country-details{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        gap: 20px;
    }
    .text-container{
        max-height: unset;
    }
    .country-details img{
        width: 100%;
        max-width: 400px;
    }
}