*{
    box-sizing: border-box;
}


body{
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark{
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}
main{
    padding: 24px;
}
a{
    text-decoration: none;
    color: inherit;
}
.header-container{
    padding-inline: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--elements-color);
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
}
.header-content p {
    cursor: pointer;
}
.title{
    font-weight: 800;
}
.search-filter-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.search-container{
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 24px;
    color: #999;
    overflow: hidden;
    background-color: var(--elements-color);
    color: var(--text-color);
}
.search-container input{
    width: 90%;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 16px;
    background-color: var(--elements-color);
    color: var(--text-color);
}
.filter-by-region{
    width: 200px;
    padding: 16px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 16px;
    color: #999;
    background-color: var(--elements-color);
    color: var(--text-color);
}
.countries-container{
    max-width: 1280px;
    margin-top: 16px;
    margin-inline: auto;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.country-card{
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 18px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
}
.country-card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}
.country-card img{
    width: 100%;
}
.card-content{
    padding-inline: 16px;
    margin-block: 16px;
}
.card-title{
    font-size: 24px;
}
.card-content p{
    margin-block: 8px;
}

@media(max-width : 768px){
    .title{
        font-size: 16px;
    }
    .header-content p {
        font-size: 12px;
    }
    .countries-container{
        justify-content: center;
    }
    .search-filter-container{
        flex-direction: column;
        gap: 24px;
    }
}